.videoCard {
  margin-bottom: 40px;
  padding: 10px;
  width: 25%;
  min-width: 270px;
  transition: all 200ms ease-in;

  &:hover {
    background: var(--soft);
    transform: perspective(800px) translateZ(100px);
    transition-delay: 500ms;
  }

  &__thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 155px;
    overflow: hidden;

    & > img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    margin-top: 10px;
    padding-left: 15px;

    &-text {
      margin-left: 15px;

      h4 {
        max-height: 4rem;

        font-size: 14px;
        line-height: 2rem;
        margin-bottom: 5px;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        font-size: 13px;
        color: var(--textSoft);
      }
    }

    &-avatar {
      height: 36px !important;
      width: 36px !important;
    }
  }
}
